# =============================
#           GITIGNORE
# =============================

# --- Global ---
*.bak
*.cache
*.log
*.log.old
*.save
*.swp
*~
*.tmp
*journal*
*lock*
*socket*

# --- Cache ---
.config/discord/
.config/go/
.config/LM Studio/
.config/LosslessCut/
.config/millennium/
.config/Olympus/
.config/obs-studio/
.config/obsidian/
.config/obsidian_backup/
.config/Pinta/
.config/Proton/
.config/spotify/
.config/torbrowser/
.config/VSCodium/
.config/wal/
.config/Vencord/
.config/yazi/
.config/gwe/
.config/ryzen-controller/

# --- Theme  ---
.config/Kvantum/
.config/btop/themes/
.config/gtk-4.0/assets
.config/spicetify/CustomApps/
.config/spicetify/Themes/

# --- KDE / Qt ---
.config/arkrc
.config/kactivitymanagerdrc
.config/katevirc
.config/kdeglobals
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/kwriterc
.config/okularrc
.config/QtProject.conf

# --- DE ---
.config/dconf/
.config/gtk-3.0/bookmarks
.config/haruna/haruna.conf
.config/mimeapps.list
.config/nwg-look/config
.config/pavucontrol.ini
.config/Thunar/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.config/xsettingsd/xsettingsd.conf
.config/kde.org/
.config/vidcutter/

# --- Custom Scripts ---
.config/pyre/state
# Игнорируем временные файлы состояния Pyre
.config/pyre/

# Игнорируем системные симлинки systemd
.config/systemd/
