# ┌───────────────────────────────────────┐
# │            GLOBAL .GITIGNORE          │
# └───────────────────────────────────────┘

# --- Generic Patterns ---
# [INFO] Ignore common temporary files, logs, and editor backups.
*.bak
*.cache
*.log
*.log.old
*.save
*.swp
*~
*.tmp
*journal*
*lock*
!/.config/hypr/hyprlock.conf
*socket*

# ┌───────────────────────────────────────────────┐
# │     APPLICATION DATA, CACHE & STATE FILES     │
# └───────────────────────────────────────────────┘
# [INFO] Ignoring user-specific data that should not be in dotfiles.
# [INFO] This list is sorted alphabetically.

.config/arkrc
.config/atuin/
.config/btop/themes/
.config/Bitwarden/
.config/dconf/
.config/discord/
.config/go/
.config/gwe/
.config/gtk-3.0/bookmarks
.config/gtk-4.0/assets
.config/haruna/haruna.conf
.config/HKModInstaller/
.config/kactivitymanagerdrc
.config/katevirc
.config/kde.org/
.config/kdeglobals
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/Kvantum/
.config/kwriterc
.config/LM Studio/
.config/LosslessCut/
.config/macchina/
.config/millennium/
.config/mimeapps.list
.config/nwg-look/config
.config/obs-studio/
.config/obsidian/
.config/obsidian_backup/
.config/okularrc
.config/Olympus/
.config/pavucontrol.ini
.config/Pinta/
.config/Proton/
.config/pyre/                     # [INFO] Ignoring Pyre's temporary state files.
.config/qt6ct/
.config/QtProject.conf
.config/qalculate/
.config/r2modman/
.config/r2modmanPlus-local/
.config/ryzen-controller/
.config/spicetify/CustomApps/
.config/spicetify/Themes/
.config/spotify/
.config/Thunar/
.config/torbrowser/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Vencord/
.config/vesktop/
.config/VSCodium/
.config/vidcutter/
.config/viewnior/
.config/wal/
.config/xfce4/
.config/xsettingsd/xsettingsd.conf
.config/yazi/
.config/zellij/

# ┌──────────────────────────────────────────────────┐
# │              SYSTEM & DEV INTEGRATION            │
# └──────────────────────────────────────────────────┘

# --- Development Tools ---
.cargo/

# --- System Services ---
# [INFO] Ignoring user-level systemd symlinks.
.config/systemd/

# ┌──────────────────────────────────────────────────┐
# │           AUTO-GENERATED & CACHE FILES           │
# └──────────────────────────────────────────────────┘
# [INFO] Ignoring user-specific or auto-generated configs.

.config/MangoHud/
.config/cava/shaders/
.config/cava/themes/
.config/cpupower_gui/
.config/xdg-desktop-portal/

# --- Proton Mail Fix ---
.config/Proton Mail/

# --- Clipboard Manager (Clipse) ---
.config/clipse/clipboard_history.json
.config/clipse/tmp_files/

# --- Security Apps ---
.config/keepassxc/
