/* ===============================================================
         CATPPUCCIN LATTE (ПЕРЕВЕДЕНО ДЛЯ PYWAL)
   =============================================================== */
@define-color background #eff1f5;
@define-color foreground #4c4f69;

@define-color color0 #ccd0da;  /* Surface0 */
@define-color color1 #d20f39;  /* Red */
@define-color color2 #40a02b;  /* Green */
@define-color color3 #df8e1d;  /* Yellow */
@define-color color4 #1e66f5;  /* Blue */
@define-color color5 #8839ef;  /* Mauve */
@define-color color6 #179299;  /* Teal */
@define-color color7 #7c7f93;  /* Overlay2 */
@define-color color8 #bcc0cc;  /* Surface1 */
@define-color color9 #d20f39;  /* Red */
@define-color color10 #40a02b; /* Green */
@define-color color11 #df8e1d; /* Yellow */
@define-color color12 #1e66f5; /* Blue */
@define-color color13 #8839ef; /* Mauve */
@define-color color14 #179299; /* Teal */
@define-color color15 #6c6f85; /* Subtext0 */